/* Krona One Font  */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


/* Montserrat Font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    height: 100vw;
    box-sizing: border-box;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

h1 {
    color: white;
}

strong {
    color: #AC00D7
}



.titulodestaque {
    color: #AC00D7;
}

.apresentacao {
    margin: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.apresentacao_conteudo {
    width: 615px;
}

.apresentacao_conteudo_titulo {
    font-family: 'Krona One';
    font-size: 36px;
}

.apresentacao_conteudo_texto {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}


